<div class="container-md pt-5 text-center"> 
        <h1 class="display-6">My Profile</h1> 
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center"> 
            <div class="col-md-5 user-profile-box text-center">
                <div class="m-4">
                    <img src="user-profile.jpg" alt="User Profile Picture" class="img-fluid rounded-circle">
                </div>
                <h2 class="mt-3">{{name}}</h2>
                <p>User's Bio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et libero at nisl laoreet accumsan.</p>
            </div>
            {{#each pets as |pet|}}
            <div class="col-md-5 dog-profile-box text-center">
                <div class="m-4">
                    <img src="user-profile.jpg" alt="User Profile Picture" class="img-fluid rounded-circle">
                </div>
                <h2 class="mt-3">{{pet.name}}</h2>
                <p>Dog's Bio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et libero at nisl laoreet accumsan.</p>
                <p class="text-center"><strong>Age:</strong> 3 years</p>
                <p class="text-center"><strong>Breed:</strong> Labrador Retriever</p>
            </div>
            {{/each}}
            
        </div>
    </div>
    
    <!-- Container for Availability and Location -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="form-group text-center border">
                    <label for="availability">Availability</label>
                    <div>Thursdays, Fridays, Sundays<!--Where the availability will be--></div>
                </div>
                <div class="form-group text-center border mt-3">
                    <label for="location">Location</label>
                    <div>Distillery District<!--Where the location will be--></div>
                </div>
            </div>
        </div>
    </div>
    <div>
    <table>
        <thead>
            <tr>
                <th>Buddy</th>
                <th>Owner</th>
                <th>Dates Available</th>
                <th>Location</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {{#each buddies_info as |buddy|}}
            <tr>
                <td>TBD</td>
                <td>{{buddy.name}}</td>
                <td>{{buddy.day.name_of_day}}</td>
                <td>{{buddy.location.name}}</td>
                <td>{{buddy.phone}}</td>
            </tr>
            {{/each}}
       
        </tbody>
    </table>
</div>